html,
body,
#root {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

select,
button {
  font-family: "Roboto", sans-serif;
}
.App {
  height: 100%;
  text-align: center;
}

/* .center-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
} */

#orderbook {
  background-color: #242d3c;
  color: white;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#orderbook-data {
  background-color: #111827;
  display: flex;
  text-align: right;
  height: 100%;
  padding: 0px 50px 0px 0px;
}

.data-level {
  margin: 0;
}

.orderbook-side {
  width: 100%;
}

.orderbook-side table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  font-family: "DM Mono", monospace;
  font-weight: 300;
  border-collapse: collapse;
}

.orderbook-table-header {
  color: #646974;
  font-weight: 500;
}

#orderbook-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111827;
  margin-bottom: 5px;
  padding: 4px;
}

#orderbook-header p {
  margin: 0;
  margin-left: 8px;
}

#orderbook-header select {
  margin-right: 20px;
  height: 30px;
  color: white;
  border: 0;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 3px;
  background-color: #242d3c;
}

#feed-buttons {
  margin-top: 20px;
}

.feed-btn {
  border: none;
  border-radius: 3px;
  margin-left: 6px;
  padding: 7px 11px 7px 11px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}

#toggle-btn {
  background-color: #5741d9;
}

#kill-btn {
  background-color: #b91d1d;
}

.price-buy {
  color: #0fb882;
}

.price-sell {
  color: #d63d40;
}

.btn-icon {
  margin: 0 6px 0 6px;
  width: 13px;
}
