html,
body,
#root {
  height: 100vh;
}

.App {
  height: 100vh;
  text-align: center;
}

.center-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* max-width: 88%; */
}
#orderbook {
  background-color: #242d3c;
  color: white;
  width: 100%;
  padding: 10px;
}

#orderbook-data {
  background-color: #111827;
  display: flex;
  width: 100%;
  text-align: right;
}

.data-level {
  margin: 0;
}

.orderbook-side {
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
}

.orderbook-side table {
  table-layout: fixed;
  width: 100%;
}

.orderbook-table-header {
  color: #3a4150;
}

#orderbook-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111827;
  margin-bottom: 5px;
  padding: 4px;
}

#orderbook-header p {
  margin: 0;
  margin-left: 8px;
}

#orderbook-header select {
  margin-right: 20px;
  height: 30px;
  color: white;
  border: 0;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 3px;
  background-color: #242d3c;
}

#feed-buttons {
  margin-top: 20px;
}

.feed-btn {
  border: none;
  border-radius: 3px;
  margin-left: 6px;
  padding: 7px 12px 7px 12px;
  cursor: pointer;
  color: white;
}

#toggle-btn {
  background-color: #5741d9;
}

#kill-btn {
  background-color: #b91d1d;
}

.price-buy {
  color: #0e6953;
}

.price-sell {
  color: #801919;
}
